<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Startup Idea Generator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>🚀 AI Startup Idea Generator</h1>

    <form action="/" method="GET">

        <input
            type="text"
            name="industry"
            placeholder="Enter Industry (Healthcare, Education, Finance...)"
            required>

        <button type="submit">
            Generate
        </button>

    </form>

    <br>

    {% if result %}

    <div class="card">

        <h2>🚀 Startup Name</h2>
        <p>{{ result.name }}</p>

        <hr>

        <h2>💡 Startup Idea</h2>
        <p>{{ result.idea }} for {{ result.industry }}</p>

        <hr>

        <h2>🎯 Target Customers</h2>
        <p>{{ result.customer }}</p>

        <hr>

        <h2>💰 Revenue Model</h2>
        <p>{{ result.revenue }}</p>

        <hr>

        <h2>📝 Startup Description</h2>
        <p>{{ result.description }}</p>

        <hr>

        <h2>🌍 Target Market</h2>
        <p>{{ result.target_market }}</p>

        <hr>

        <h2>💵 Estimated Investment</h2>
        <p>{{ result.investment }}</p>

        <hr>

        <h2>⏳ Development Time</h2>
        <p>{{ result.development_time }}</p>

        <hr>

        <h2>📈 Market Potential</h2>
        <p>{{ result.market_potential }}</p>

        <hr>

        <h2>⭐ Startup Score</h2>
        <p>{{ result.score }}/100</p>

    </div>

    {% endif %}

</body>

</html>